<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--   这个属性名与字段名进行驼峰明明转换     good_id ==> goodId-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <plugins>
<!--        配置MyBatis-plus分页插件-->
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor"></plugin>
    </plugins>
</configuration>